name: CI-CD CRUD API

on:
  push:
    tags:
      - "v*.*.*" # ex : v1.0.0, v2.3.1

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1) Récupération du code source depuis GitHub
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2) Extraction de la version depuis le tag Git
      - name: Extract version from tag
        id: extract_version
        run: |
          # GITHUB_REF ressemble à : refs/tags/v1.2.3
          RAW_REF="${GITHUB_REF#refs/tags/}"   # -> v1.2.3

          # On enlève le 'v' pour avoir juste 1.2.3
          VERSION="${RAW_REF#v}"               # -> 1.2.3

          echo "Tag brut : $RAW_REF"
          echo "Version sans v : $VERSION"

          # On expose ces valeurs comme outputs du step
          echo "TAG=$RAW_REF" >> $GITHUB_OUTPUT
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
