name: CI-CD CRUD API

on:
  # On déclenche le pipeline uniquement quand on pousse un tag de version
  push:
    tags:
      - "v*.*.*" # ex : v1.0.0, v2.3.1

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1) Récupération du code source depuis GitHub
      - name: Checkout repository
        uses: actions/checkout@v4
